body {
  background-color: #FFE5E2;
  height: 100%;
  font-family: "Lato";
  color: #B34180;
}

.fancy-font {
  font-family: "Anton";
}

.text-main {
  color: #E36BAE;
}

.btn-main, .btn-main:visited {
  background-color: #FFB4B4 !important;
  border-color: #FFB4B4 !important;
  color: white;
}
.btn-main:hover, .btn-main:active {
  background-color: #FF9292 !important;
  border-color: #FF9292 !important;
  color: white;
}
.content {
  max-width: 600px;
}
