{% extends "layout.html" %}
{% block body %}

<div class="container py-5 mb-3 content" x-data="{}">
  <div class="text-end mb-4">
    <div style="font-size: 2em; cursor: pointer;" x-on:click="location.href='https://github.com/czhu12/forever-free-cloud-app-starter'">
      <i class="fab fa-github"></i>
    </div>
  </div>
  <div class="text-center mb-4">
    <div class="h1 text-center fancy-font">
      SAN FRANCISCO <span class="text-main">CAFES</span>
    </div>
    <i>Cafes for those looking for a moment.</i>
  </div>
  <p>
  {{ readme | safe }}
  </p>
  {% for cafe in data['cafes'] %}
    <div class="row my-3">
      <div class="col-12 col-lg-5 order-{{ loop.index % 2 }}">
        <div class="text-main">{{ cafe['title'] }}</div>
        {% for tag in cafe['tags'] %}
          - {{tag}} <br/>
        {% endfor %}
      </div>
      <div class="col-12 col-lg-7">
        <img src="{{ cafe['image'] }}" height="350" style="border: 5px solid pink;" />
      </div>
    </div>
  {% endfor %} 

  <div class="d-grid gap-2 my-3">
    <button @click="location.href='#'" class="btn btn-main btn-lg btn-block">
      Find a cafe
    </button>
  </div>

{% endblock %}
