{% extends "layout.html" %}
{% block body %}

<div class="py-5 mb-3 container-md" x-data="{}">
  <div class="text-end mb-4">
    <div style="font-size: 2em; cursor: pointer;" x-on:click="location.href='https://github.com/czhu12/forever-free-cloud-app-starter'">
      <i class="fab fa-github"></i>
    </div>
  </div>
  <div class="text-center mb-4">
    <div class="h1 fancy-font">
      SAN FRANCISCO <span class="text-main">CAFES</span>
    </div>
    <i>Cafes for those looking for a moment.</i>
  </div>
  {% for cafe in data['cafes'] %}
    <div class="row my-3">
      <div class="col-12 col-sm-7 order-{{ loop.index % 2 }} d-flex flex-column">
        <div class="h1 {% if loop.index % 2 == 0 %} text-main {% endif %} fancy-font">{{ cafe['title'] }}</div>
        <div>{{cafe['description']}}</div>
        <div>
          {% for tag in cafe['tags'] %}
            <div class="badge" style="background-color: #FF9292">{{tag}}</div>
          {% endfor %}
        </div>

        <div class="card mt-auto">
          <div class="card-body">
            <div class="fancy-font h6">Explore YankiniQ</div>
            <a href="#" class="btn btn-main btn-block"><i class="far fa-map"></i> Map</a>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <img src="{{ cafe['image'] }}" height="350" />
      </div>
    </div>
  {% endfor %} 
{% endblock %}
